/* Navigation */
body {
    font-family: "Halvetica", sans-serif;
    margin: 0;
    background-color: rgb(204, 204, 204);

}

nav {
    background: #234465;

}

nav ul {
    text-align: center;
    margin: 0;
    padding: 10px;

}

nav ul li {
    display: inline-block;
}



nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

ul {
    background-color: rgb(68, 68, 68);
    list-style: none;
}


/* Articles */
body {
    margin: 0;
    padding: 0;
    background: #ccc;

}

section {
    margin-left: 20px;
    object-position: 1;
}

h1 {
   font-size: 28px;
   
}

header > p {
font-style: italic;
}

article > p {
    font-size: 24px;
}
/* Footer */
footer {
    background: #444;
    color: #fff;
    text-align: center;
}